- var page = { title: "Brush Lettering Project", subtitle: "Digitalisieren Hilfestellung", author: "Myriam Frisano" }

doctype html
html(lang="de")
    include includes/head.jade

    body
        include includes/nav.jade

        header
            include svg/help.svg

        .container
            include:markdown content/tutorial.md
            
        include includes/footer.jade
    // body end
// html end
