- var page = { title: "Brush Lettering Project", subtitle: "Font Prozess", author: "Myriam Frisano" }

doctype html
html(lang="de")
    include includes/head.jade

    body
        include includes/nav.jade

        header
            include svg/process.svg
            
        .container
            include:markdown content/font.md
            
        include includes/footer.jade
    // body end
// html end
