footer
    .left
        span &copy; Myriam Frisano &middot; Coded with #[i.fa.fa-heart] by #[a(href="http//halfapx.com") &frac12; a px.]
    .center
        a(href="")
            i.fa.fa-instagram
        a(href="")
            i.fa.fa-github
    .left
        span.backtotop Back to top &middot; 
        span Hosted on 
        a(href="https://github.com/mynimi/font-project") GitHub
    
    
// development (do not ship this)
// script(src="/js/jquery-2.2.3.js")
// script(src="/js/lity.js")
// script(src="/js/main.js")

// production (compile scripts.min.js before shipping)
// script(src="/font-project/js/scripts.min.js")
