footer
    .left
        span &copy; Myriam Frisano &middot; Coded with #[i.fa.fa-heart] by #[a(href="http//halfapx.com") &frac12; a px.]
    .center
        a(href="https://www.instagram.com/halfapx/")
            i.fa.fa-instagram
        a(href="https://github.com/mynimi/")
            i.fa.fa-github
    .left
        span.backtotop Back to top &middot; 
        span Hosted on 
        a(href="https://github.com/mynimi/font-project") GitHub
    
    
// development (do not ship this)
// script(src="/js/jquery-2.2.3.js")
// script(src="/js/lity.js")
// script(src="/js/main.js")

// production (compile scripts.min.js before shipping)
script(src="/font-project/js/scripts.min.js")

script
    | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    |     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    |     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    | ga('create', 'UA-64184849-1', 'auto');
    | ga('send', 'pageview');
