span.navtoggle.outside.
	<i class="fa fa-navicon"></i> Menu
nav.menu
	span.navtoggle
		i.fa.fa-close
	ul
		li
			a(href='/font-project') Home
		li
			span.parent Brushlettering
				i.fa.fa-fw.fa-angle-down
			//- Children
			ul.level-two
				li
					a(href='/font-project/brushlettering/wasesist') Was es ist
				li
					a(href='/font-project/brushlettering/wieesfunktioniert') Wie es funktioniert
				li
					a(href='/font-project/brushlettering/galerie') Galerie
		li
			span.parent Digitalisieren
				i.fa.fa-fw.fa-angle-down
			ul.level-two
				li
					a(href='/font-project/digitalisieren/bedeutung') Bedeutung
				li
					a(href='/font-project/digitalisieren/hilfestellung') Hilfestellung
		li
			span.parent Font
				i.fa.fa-fw.fa-angle-down
			ul.level-two
				li
					a(href="/font-project/font/prozess") Prozess
				li
					a(href="/font-project/font/motivation") Motivation
				li
					a(href="/font-project/font/features") Features
				li
					a(href='/font-project/font/verwendung') Verwendung
				li
					a(href='/font-project/font/galerie') Galerie
		li
			a(href="/font-project/fourteen-dreams") Fourteen Dreams
		li
			a(href='/') 1/2 a px.
