// TOOLBOX COLORS
//---------------------------------------------------------------------
$white: #FDFDFD;
$black: #202020;
$darkgray: #333;
$blood: #730F17;
$teal: #54706A;

// PROJECT COLORS
//---------------------------------------------------------------------
$beige: #EBEDE6;
$salmon: #E2DCDB;
$greige: #BCBBC0;
$taupe: #756D71;
$aqua: #728487;
$mint: #B7CDCE;
